@import './shared/variables.scss';

body, html {
  margin: 0;
  font-family: $typography__font-family;
  font-size: $typography__font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color__neutral--very-dark-blue-main;

  @include mobile {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
